* {
    text-align: center;
    margin:0;
    background-color: #f6eedf;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
   
}
body {

    margin-bottom: 200px;
    
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
   padding-top: 20px;
    border-top: 1px solid black;
    height: 40px;
   
    
}

button {
     margin: 10px;
     border: 1px solid black;
     border-radius: 5px;
     padding: 5px 15px;
     background-color: #f57b51;
     cursor: pointer;

}
a, a:visited, a:active {
    font-family: 'Open Sans Condensed', sans-serif;;
    font-size: 24px;
    text-decoration: none;
    color:black;
    padding-bottom: 20px;
    
}
a:hover {
    font-size: 25px;
   
}

.showCat {
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    
}
.catTitle {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    

    
}
.catTitle:hover{
    text-shadow:1px 1px 0 gray;
}

@media only screen and (max-width: 415px) {
    * {
        font-size: 12px;
    }
    button {
        padding: 2px 5px;
    }
    a {
        font-size: 14px;
    }

    a:hover {
        font-size: 16px;
    }
    .showCat {
        flex-wrap: wrap;
    }
    }