header {
    padding: 20px 75px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    
}

.auth {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
img {
    width: 200px;
    height: auto;
}