h1 {
    color: white;
    text-align: left;
    background-color: black;
    margin-bottom: 50px;

}
.register {
    width: 40%;
    padding: 20px;
}
.landing {
    background-image: url('../images/hero-banner.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: auto;

}