@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

h2,h3 {
    font-family: 'Shrikhand', cursive;
    background-color: transparent;
    color: #d63447;
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

